@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Norline";
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src:
    url("./fonts/Norline-Regular.woff2") format("woff2"),
    url("./fonts/Norline-Regular.woff") format("woff");
}

@font-face {
  font-family: "Norline";
  font-weight: 500;
  font-display: swap;
  font-style: italic;
  font-named-instance: "Italic";
  src:
    url("./fonts/Norline-Italic.woff2") format("woff2"),
    url("./fonts/Norline-Italic.woff") format("woff");
}

@font-face {
  font-family: "PPNeueBit";
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src:
    url("./fonts/PPNeueBit-Regular.woff2") format("woff2"),
    url("./fonts/PPNeueBit-Regular.woff") format("woff");
}

@font-face {
  font-family: "PPNeueBit";
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src:
    url("./fonts/PPNeueBit-Bold.woff2") format("woff2"),
    url("./fonts/PPNeueBit-Bold.woff") format("woff");
}

@font-face {
  font-family: "PPEditorialNew";
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src:
    url("./fonts/PPEditorialNew-Regular.woff2") format("woff2"),
    url("./fonts/PPEditorialNew-Regular.woff") format("woff");
}

@font-face {
  font-family: "PPEditorialNew";
  font-weight: 700;
  font-display: swap;
  font-style: italic;
  font-named-instance: "Italic";
  src:
    url("./fonts/PPEditorialNew-BoldItalic.woff2") format("woff2"),
    url("./fonts/PPEditorialNew-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: "PPEditorialNew";
  font-weight: 500;
  font-display: swap;
  font-style: italic;
  font-named-instance: "Italic";
  src:
    url("./fonts/PPEditorialNew-Italic.woff2") format("woff2"),
    url("./fonts/PPEditorialNew-Italic.woff") format("woff");
}

@font-face {
  font-family: "PPEditorialNew";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src:
    url("./fonts/PPEditorialNew-Thin.woff2") format("woff2"),
    url("./fonts/PPEditorialNew-Thin.woff") format("woff");
}

@font-face {
  font-family: "Oakley";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src:
    url("./fonts/Oakley-Black.woff2") format("woff2"),
    url("./fonts/Oakley-Black.woff") format("woff");
}

@font-face {
  font-family: "Oakley";
  font-weight: 400;
  font-display: swap;
  font-style: italic;
  font-named-instance: "Italic";
  src:
    url("./fonts/Oakley-BlackItalic.woff2") format("woff2"),
    url("./fonts/Oakley-BlackItalic.woff") format("woff");
}

@font-face {
  font-family: "PPMondwest";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src:
    url("./fonts/PPMondwest-Regular.woff2") format("woff2"),
    url("./fonts/PPMondwest-Regular.woff") format("woff");
}

@font-face {
  font-family: "PPMondwest";
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src:
    url("./fonts/PPMondwest-Bold.woff2") format("woff2"),
    url("./fonts/PPMondwest-Bold.woff") format("woff");
}

@font-face {
  font-family: "PPFormula";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src:
    url("./fonts/PPFormula-Regular.woff2") format("woff2"),
    url("./fonts/PPFormula-Regular.woff") format("woff");
}

@font-face {
  font-family: "PPFormula";
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src:
    url("./fonts/PPFormula-Medium.woff2") format("woff2"),
    url("./fonts/PPFormula-Medium.woff") format("woff");
}

@font-face {
  font-family: "PPFormula";
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src:
    url("./fonts/PPFormula-NarrowBold.woff2") format("woff2"),
    url("./fonts/PPFormula-NarrowBold.woff") format("woff");
}

@font-face {
  font-family: "PPFormula";
  font-weight: 800;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src:
    url("./fonts/PPFormula-Extrabold.woff2") format("woff2"),
    url("./fonts/PPFormula-Extrabold.woff") format("woff");
}

@font-face {
  font-family: "PPFormula";
  font-weight: 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src:
    url("./fonts/PPFormula-CondensedBlack.woff2") format("woff2"),
    url("./fonts/PPFormula-CondensedBlack.woff") format("woff");
}

@font-face {
  font-family: "Lazer";
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src:
    url("./fonts/Lazer84.woff2") format("woff2"),
    url("./fonts/Lazer84.woff") format("woff");
}

.box::before {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 10px;
  left: 10px;
  bottom: 0;
  border-bottom: 0;
  border-color: rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.1)
    rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0.1);
  border-width: 4px;
}

.box::after {
  content: "";
  pointer-events: none;
  position: absolute;
  inset: 0;
  border-color: rgb(223, 223, 223) rgb(10, 10, 10) rgb(10, 10, 10)
    rgb(223, 223, 223);
  box-shadow:
    rgba(0, 0, 0, 0.1) 2px 2px 0px 2px inset,
    rgba(0, 0, 0, 0.12) -2px -2px 0px 2px inset,
    rgba(0, 0, 0, 0.16) -4px -4px 0px 4px inset;
  filter: url(#rgb-split);
}
